<nav>
  <object
    class="navbar-bg-xs"
    data="assets/navbar-bg-xs.svg"
    type="image/svg+xml"
  >
  </object>

  <div
    *ngIf="userInitial$ | async as initial"
    class="avatar"
    (click)="logOut()"
  >
    <span class="avatar__text">Logout</span>
  </div>
  <div *ngIf="userInitial$ | async as initial" class="avatar">
    <span class="avatar__text">{{ initial }}</span>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>
    <span>All rights reserved by skilldating. Copyright © 2020</span>
  </div>
</footer>
<ui-overlay
  *ngIf="overlayShown"
  (configureLater)="configureLater()"
  (configureProfile)="goToConfigureProfile()"
></ui-overlay>
